body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

nav {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;

}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.form_button {
    display: inline;
    float: right;
}

.like_button {
    display: inline;
    float: left;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
