{% extends "base.html" %}

{% block content %}
    <h2>Blog Posts</h2>
    {% for post in posts %}
        <div class="post" id="post-{{ post._id }}">
            <h2>{{ post.title }}</h2>
            <p><strong>By:</strong> {{ post.author }}</p>
            <div>{{ post.content }}</div>
            <br>
            <div class="post-actions">
                <div class="left-actions">
                    <form action="{{ url_for('like', post_id=post._id) }}" method="POST">
                        <button type="submit" class="button like">{{ post.likes }} 👍</button>
                    </form>
                </div>

                <div class="right-actions">
                    <form action="{{ url_for('edit', post_id=post._id) }}" method="GET">
                        <button type="submit" class="button edit">Edit</button>
                    </form>
                    <form action="{{ url_for('delete', post_id=post._id) }}" method="POST" onsubmit="return confirm('Are you sure?');">
                        <button type="submit" class="button delete">Delete</button>
                    </form>
                </div>
            </div>


        </div>
        <hr>
    {% else %}
        <p>No blog posts found.</p>
    {% endfor %}

{% endblock %}

